@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Choose a game to edit";
}

<div id="GameList">
    <form name="frmGames">
        <select name="cboGames">
            <option value="0">
                Choose a game
            </option>
        </select>
    </form>
</div>
<div id="blah"></div>