<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class="current"><a href="/Admin/Home/Index.html"><i class="glyphicon glyphicon-home"></i> Trang chủ</a></li>
            <li><a href="/Team/Index"><i class="glyphicon glyphicon-calendar"></i> Quản lí Đội tham gia</a></li>
            <li><a href="/TeamDetail/Detail"><i class="glyphicon glyphicon-stats"></i>Quản lí thành viên đội</a></li>
            <li><a href="/Student/Index"><i class="glyphicon glyphicon-list"></i> Đăng kí thông tin sinh viên</a></li>
            <li class="submenu">
                <a href="#">
                    <i class="glyphicon glyphicon-list"></i> Pages
                    <span class="caret pull-right"></span>
                </a>
                <!-- Sub menu -->
                @{
                    var session = (UserLogin)Session[Demostudyweb.Common.Commoncontent.USER_SESSION];
                        }
                @if (session == null)
                {
                    <ul>
                        <li><a href="/dang-nhap" target="_self">Login</a></li>                        
                    </ul>
                }
                else
                {
                    <ul>
                        <li>
                            Xin chào : @session.UserName
                          
                        </li>
                    </ul>
                }

            </li>
        </ul>
    </div>
</div>